.games-cover {
    background-image: linear-gradient(to right top, #6d1045, #691853, #612061, #55296e, #43327a, #37428a, #265197, #005fa2, #0077b1, #008eb6, #00a4b4, #0cb8ad);
    width: 200px;
    height: 200px;
    border-radius: 18px;
    overflow: hidden;
}

.games-title {
    font-size: 1rem;
    color: white;
    font-weight: 300;
}

.game-collection-title {
    font-size: 1.2rem;
    font-weight: 600;
}

.game-collection-subtitle {
    font-size: 1.4rem;
    font-weight: 200;
}

.games-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
}

.react-multi-carousel-item:hover img {
    transform: scale(1.1);
    transition: transform .2s;
}

@media screen and (max-width: 990px) {
    .games-cover {
        width: 150px;
        height: 150px;
    }

    .custom-button-group {
        position: absolute;
        right: 20px;
        top: -30px;
    }
}